.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-col{
border-style: solid;
border-color: black;
}
.container {
  white-space: nowrap;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #212A3E;
  color: #FFFFFF;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
}

.App-footer {
  background-color: #9BA4B5;
  color: #FFFFFF;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.App-content {
background-color:#125f8b ; 
}

.App-link {
  color: #61dafb;
}

